
header {
	background: hsl(0, 55%, 78%);
   height: 86px;
   width: 100%;
   z-index: 1000;
   position: fixed;
   top: 0;
   box-sizing: border-box;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: right;
}

li a {
	display: block;
	text-align: center;
	color: rgb(0, 0, 0);
	padding: 25px 16px;
   text-decoration: none;
   font-size: 30px;
}

li a:hover {
	background-color: #e03d61;
}

li a {
	display: block;
	text-align: center;
	color: rgb(0, 0, 0);
	padding: 25px 16px;
	text-decoration: none;
} 

.header-false {
   height: 146px;
   width: 100%;
}

img {
   width: 100%;
   height: auto;
 }

 div .row {
    height: 86px;
    background-color:  hsl(0, 55%, 78%);
 }