<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <div id="head" class="container">
        <nav class="navbar">
            <a class="navbar-brend" href="#"></a>
        </nav>
        <nav class="navbar-buttoms">
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Portfolio</a>
            <a class="nav-link" href="#">Contact</a>
        </nav>
        <div class="head">
            <h1>Ann</h1>
        </div>
    </div>
    <main class="title">
        <div class="blog-about"></div>
    </main>
    <div class="prewiu-maso"></div>
</body>
</html>